<!--begin::Authentication - -->
<div class="d-flex flex-column flex-center flex-column-fluid">
  <!--begin::Content-->
  <div class="d-flex flex-column flex-center text-center p-10">
    <!--begin::Wrapper-->
    <div class="card card-flush  w-lg-650px py-5">
      <a (click)="routeToDashboard()" class="mb-10 pt-lg-20 cursor-pointer">
        <img
          alt="Logo"
          src="./assets/media/wonder/RED-LOGO-BG-Horizontal-transprant.png"
          class="h-50px mb-5"
        />
      </a>
      <div class="card-body py-15 py-lg-20">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Content-->

  <!-- Approve Mail -->
  <!-- <div class="d-flex flex-column flex-center text-center p-10"> -->
    <!--begin::Wrapper-->
   <!-- <div class="card card-flush  w-lg-650px m-auto text-center py-5">
       <div class="card-body py-15 py-lg-20">
        <h3 class=" fs-2hx text-gray-900 mb-4">
          CS : <span class="fw-bold text-blue"> 123 </span>  has been <span class="text-success fw-bolder"> Approved</span>  Successfully
        </h3>
       <img
        alt="Logo"
        src="./assets/media/auth/approved.png"
        class=" h-300px w-300px my-20"
      />  <h3>Do you want to approve this CS</h3>
      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-sm me-5 btn-primary w-100px">Approve</button>
        <button class="btn btn-sm btn-light w-100px">Reject</button> 

      </div>
      <div class="card-body py-15 py-lg-20">
        <h3 class=" fs-2hx text-gray-900 mb-4">
          CS : <span class="fw-bold text-blue"> 123 </span>  has been <span class="text-primary fw-bolder">Rejected</span>    Successfully
        </h3>
       <img
        alt="Logo"
        src="./assets/media/auth/reject.png"
        class=" h-300px w-300px my-20"
      /> 
    

      </div>
      <div class="card-body py-15 py-lg-20">
        <h3 class=" fs-2hx text-gray-900 mb-4">
          CS : <span class="fw-bold text-blue"> 123 </span>  has been <span class="text-success fw-bolder">Already Approved</span>  
        </h3>
       <img
        alt="Logo"
        src="./assets/media/auth/approved.png"
        class=" h-300px w-300px my-20"
      /> 
      <h3>Do you want to approve this CS</h3>
      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-sm me-5 btn-primary w-100px">Approve</button>
        <button class="btn btn-sm btn-light w-100px">Reject</button>

      </div>
      <div class="card-body py-15 py-lg-20">
        <h3 class=" fs-2hx text-gray-900 mb-4">
          CS : <span class="fw-bold text-blue"> 123 </span>  has been <span class="text-primary fw-bolder">Already Rejected</span>   
        </h3>
       <img
        alt="Logo"
        src="./assets/media/auth/reject.png"
        class=" h-300px w-300px my-20"
      />
    
    </div>
      </div>
      </div>
    </div> -->
    
    <div class="card">
      <div class="card-body text-center">
        <h3 class=" fs-1hx text-gray-900 mb-4">
          CS : <span class="fw-bold "> 0011575123 </span>  has been <span class=" ">Approve by  VIJAY CHAPLOT on 27\06\2023</span>   
        </h3>
      </div>
    </div>
  </div>
 

