<form [formGroup]="formGroup" (submit)="formSubmitHandler()" class="h-100">
  <div class="card shadow-none rounded-0 w-100 h-100">
    <div class="card-header" id="kt_activities_header">
      <h3 class="card-title mt-0 fw-bolder text-dark">Reset Password</h3>
      <div class="card-toolbar mt-0">
        <button (click)="cancelButtonClick()" type="button" class="btn btn-sm btn-icon btn-active-light-primary ">
          <span [inlineSVG]="'./assets/media/svg/close.svg'" class="svg-icon svg-icon-2 m-0"></span>
        </button>
      </div>
    </div>
    <div class="card-body position-relative h-100" id="kt_activities_body">
      <div class="timeline">
        <div class="form-sidebar w-100 h-100">
          <div class=" mb-5 w-100 me-5">
            <label for="floatingname" class="text-gray-800 form-label-text mb-2 required">New Password</label>
            <div class="d-flex flex-row position-relative">
              <input [ngClass]="getValidation('password') ? 'border border-danger' : '' " formControlName="password"
                [type]="showPassword?'text' :'password'" class="form-control form-control-lg"
                placeholder="New Password" />
              <span (click)="$event.stopPropagation();showPassword = !showPassword"
                class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2">
                <i *ngIf="showPassword" [ngClass]="{'text-danger': getValidation('password')}"
                  class="bi bi-eye-slash  fs-2"></i>
                <i *ngIf="!showPassword" [ngClass]="{'text-danger': getValidation('password')}"
                  class="bi bi-eye fs-2"></i>
              </span>
            </div>
            <p class="text-danger pt-3 ms-2">{{getValidation('password') ? getErrorMessage('password') :' '}}</p>
          </div>
          <div class="mb-5 w-100">
            <label for="floatingname" class="text-gray-800 form-label-text mb-2 required">Confirm Password</label>
            <div class="d-flex flex-row position-relative">


              <input [type]="showConfirmPassword?'text' :'password'"
                [ngClass]="getValidation('confirmPassword') ? 'border border-danger' : '' "
                formControlName="confirmPassword" placeholder="Confirm Password" class="form-control form-control-lg"
                id="floatingname" />
              <span (click)="$event.stopPropagation();showConfirmPassword = !showConfirmPassword"
                class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2">
                <i *ngIf="showConfirmPassword" [ngClass]="{'text-danger': getValidation('confirmPassword')}"
                  class="bi bi-eye-slash fs-2"></i>
                <i *ngIf="!showConfirmPassword" [ngClass]="{'text-danger': getValidation('confirmPassword')}"
                  class="bi bi-eye fs-2"></i>
              </span>
            </div>
            <p *ngIf="getValidation('confirmPassword')" class="text-danger pt-3 ms-2">
              {{getValidation('confirmPassword') ? getErrorMessage('confirmPassword') :' '}}
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer py-5 text-end site-draw-form" id="kt_activities_footer">
      <button (click)="cancelButtonClick()" type="button" class="btn me-5 btn-light btn-sm ">Cancel</button>
      <button (click)="formSubmitHandler()" type="submit" class="btn btn-submit btn-sm">
        <ng-container *ngIf="isLoading">
          <span class="indicator-progress" [style.display]="'block'">
            Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </ng-container>
        <ng-container *ngIf="!isLoading">
          <span class="indicator-label">Update</span>
        </ng-container>
      </button>
    </div>
  </div>
</form>
