<div class="modal-header cursor-pointer " role="button" data-bs-target="#kt_account_profile_details"
    aria-expanded="true" aria-controls="kt_account_profile_details" style="background-color: #fff5f8;">
    <div class="modal-title">
        <div>
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <span class=" justify-content-center fullscreen-back-icon pr-modal-backIcon"
                        [inlineSVG]="'../../../../assets/media/wonder/arrow-left.svg'"></span>
                </div>
                <div class="ms-5">
                    <div class="d-block d-md-flex align-items-center">
                        <div class="d-flex">


                            <div class="d-flex">
                                <span class=" fs-3 fw-semibold card-label fw-bold text-gray-800">Project Name</span>
                                <span class=" fs-3 fw-semibold card-label fw-bold text-gray-500">: XYX</span>
                            </div>
                         
                        </div>
                     
                    </div>
                    <h3 class=" fw-semibold m-0  text-gray-400 mt-1 fw-semibold fs-6"></h3>
                </div>

            </div>
        </div>

    </div>
    <div class=" m-0">
        <span class="justify-content-center " [inlineSVG]="'../../../../assets/media/wonder/cross.svg'"></span>
    </div>
</div>


<div class="modal-body">
    <div class="d-block d-md-flex justify-content-between align-items-center">
        <div class="d-block d-md-flex">
            <div class="d-flex">
                <span class=" fs-6 fw-semibold card-label fw-bold text-gray-500 me-2">RFQ DATE -</span>
                <span class=" fs-6 fw-semibold card-label fw-bold text-gray-600">03-04-23</span>
                <label for="" class="mx-4 fw-bold">|</label>
            </div>
            <div class="d-flex">
                <span class=" fs-6 fw-semibold card-label fw-bold text-gray-500 text-uppercase me-2">Currency -</span>
                <span class=" fs-6 fw-semibold card-label fw-bold text-gray-600 text-uppercase">ine</span>
                <label for="" class="mx-4 fw-bold">|</label>
            </div>
            <div class="d-flex">
                <span class=" fs-6 fw-semibold card-label fw-bold text-gray-500 text-uppercase me-2">Round -</span>
                <span class=" fs-6 fw-semibold card-label fw-bold text-gray-600">2</span>

            </div>
        </div>
        <div class="mt-5 mt-sm-0">
            <button type="button" class="btn btn-light-blue btn-sm me-3 " title="Export">
                <span class="svg-icon svg-icon-2 m-0">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                        height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path
                                d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z"
                                fill="currentcolor" fill-rule="nonzero" opacity="0.7"></path>
                            <rect fill="currentcolor" opacity="0.7"
                                transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) "
                                x="11" y="1" width="2" height="14" rx="1"></rect>
                            <path
                                d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z"
                                fill="currentcolor" fill-rule="nonzero"
                                transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) ">
                            </path>
                        </g>
                    </svg>
                </span>
            </button>

            <button type="button" class="btn btn-light-primary btn-sm me-3 " title="Go To Home">
                <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2023-03-24-172858/core/html/src/media/icons/duotune/general/gen001.svg-->
                <span class="svg-icon svg-icon-2 m-0">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11 2.375L2 9.575V20.575C2 21.175 2.4 21.575 3 21.575H9C9.6 21.575 10 21.175 10 20.575V14.575C10 13.975 10.4 13.575 11 13.575H13C13.6 13.575 14 13.975 14 14.575V20.575C14 21.175 14.4 21.575 15 21.575H21C21.6 21.575 22 21.175 22 20.575V9.575L13 2.375C12.4 1.875 11.6 1.875 11 2.375Z"
                            fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </button>
        </div>


    </div>
    <div class="mt-5">
        <div class="bg-light p-5">
            No record found
        </div>
        <!-- <button type="button" class="btn btn-primary btn-sm mt-5 text-end" data-bs-toggle="modal"
            data-bs-target="#kt_modal_stacked_10">
            Bid Optimization
        </button>

        <div class="modal fade" tabindex="-1" id="kt_modal_stnpm install --legacy-peer-depsacked_10">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Modal title</h3>

                      
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                            aria-label="Close">
                            <span class="svg-icon svg-icon-2"><svg width="22" height="22" viewBox="0 0 24 24"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                                        transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor">
                                    </rect>
                                </svg></span> Charges
                        </div>
                       
                    </div>

                    <div class="modal-body">
                        ...


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </div>
            </div>
        </div> -->

        <button type="button" (click)="openAddChargeComponent()" class="btn btn-light-blue mt-5" data-bs-toggle="modal" title="Add Charges">
            <span class="svg-icon svg-icon-2"><svg width="22" height="22" viewBox="0 0 24 24"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                    transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor">
                </rect>
            </svg></span> Charges
            </button>
            
          


    </div>
</div>