<form [formGroup]="mailFormGroup" (submit)="save()">


  <div class="modal-header">
    <h3 class="modal-title"> Compose Message </h3>
    <!--begin::Close-->
    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" (click)="close()">
      <span ng-reflect-inline-s-v-g="./assets/media/icons/duotune/a" class="svg-icon svg-icon-2">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect _ngcontent-yia-c153="" opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
            transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
          <rect _ngcontent-yia-c153="" x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
            fill="currentColor"></rect>
        </svg>
      </span>
    </div>
    <!--end::Close-->
  </div>
  <div class="modal-body p-0 mailbox-height">
    <div class="d-flex align-items-center border-bottom px-8 min-h-50px">
      <!--begin::Label-->
      <div class="text-dark fw-bold w-75px"> To: </div>
      <!--end::Label-->
      <!--begin::Input-->
      <!-- <div class="tagify form-control form-control-transparent border-0 tagify--noTags tagify--empty" tabindex="-1"><span class="tagify__input" ></span></div> -->
      <input type="text" class="form-control form-control-transparent border-0" name="compose_to"
        formControlName="compose_to" value="" data-kt-inbox-form="tagify" tabindex="-1">
      <!--end::Input-->
      <!--begin::CC & BCC buttons-->
      <div class="ms-auto w-75px text-end">
        <span (click)="displayCC()" class="text-muted fs-bold cursor-pointer text-hover-primary me-2"
          data-kt-inbox-form="cc_button">Cc</span>
        <span (click)="displayBCC()" class="text-muted fs-bold cursor-pointer text-hover-primary"
          data-kt-inbox-form="bcc_button">Bcc</span>
      </div>
      <!--end::CC & BCC buttons-->
    </div>
    <div *ngIf="showCC" class="d-flex align-items-center border-bottom px-8 min-h-50px">
      <div class="text-dark fw-bold w-75px"> CC: </div>
      <input type="text" class="form-control form-control-transparent border-0" name="compose_cc"
        formControlName="compose_cc" value="" data-kt-inbox-form="tagify" tabindex="-1">
    </div>
    <div class="text-danger d-flex align-items-center border-bottom px-8 min-h-50px"
      *ngIf="mailFormGroup.get('compose_cc')?.errors?.invalidEmail && invalidate">
      Please enter a valid email address or multiple email addresses separated by commas.
    </div>
    <div *ngIf="showBCC" class="d-flex align-items-center border-bottom px-8 min-h-50px">
      <div class="text-dark fw-bold w-75px"> BCC: </div>
      <input type="text" class="form-control form-control-transparent border-0" name="compose_bcc"
        formControlName="compose_bcc" value="" data-kt-inbox-form="tagify" tabindex="-1">

    </div>
    <div class="text-danger d-flex align-items-center border-bottom px-8 min-h-50px"
      *ngIf="mailFormGroup.get('compose_bcc')?.errors?.invalidEmail && invalidate">
      Please enter a valid email address or multiple email addresses separated by commas.
    </div>
    <div class="border-bottom">
      <input class="form-control form-control-transparent border-0 px-8 min-h-45px" name="compose_subject"
        formControlName="compose_subject" placeholder="Subject">
    </div>
    <!-- <div class="ql-toolbar ql-snow px-5 border-top-0 border-start-0 border-end-0">
      <span class="ql-formats">
        <span class="ql-header ql-picker">
          <span class="ql-picker-label" tabindex="0" role="button" aria-expanded="false"
            aria-controls="ql-picker-options-0">
            <svg viewBox="0 0 18 18">
              <polygon class="ql-stroke" points="7 11 9 13 11 11 7 11"></polygon>
              <polygon class="ql-stroke" points="7 7 9 5 11 7 7 7"></polygon>
            </svg>
          </span>
          <span class="ql-picker-options" aria-hidden="true" tabindex="-1" id="ql-picker-options-0">
            <span tabindex="0" role="button" class="ql-picker-item" data-value="1"></span>
            <span tabindex="0" role="button" class="ql-picker-item" data-value="2"></span>
            <span tabindex="0" role="button" class="ql-picker-item ql-selected"></span>
          </span>
        </span>
        <select class="ql-header" style="display: none;">
          <option value="1"></option>
          <option value="2"></option>
          <option selected="selected"></option>
        </select>
      </span>
      <span class="ql-formats">
        <button type="button" class="ql-bold">
          <svg viewBox="0 0 18 18">
            <path class="ql-stroke"
              d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z"></path>
            <path class="ql-stroke"
              d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z"></path>
          </svg>
        </button>
        <button type="button" class="ql-italic">
          <svg viewBox="0 0 18 18">
            <line class="ql-stroke" x1="7" x2="13" y1="4" y2="4"></line>
            <line class="ql-stroke" x1="5" x2="11" y1="14" y2="14"></line>
            <line class="ql-stroke" x1="8" x2="10" y1="14" y2="4"></line>
          </svg>
        </button>
        <button type="button" class="ql-underline">
          <svg viewBox="0 0 18 18">
            <path class="ql-stroke" d="M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3"></path>
            <rect class="ql-fill" height="1" rx="0.5" ry="0.5" width="12" x="3" y="15"></rect>
          </svg>
        </button>
      </span>
      <span class="ql-formats">
        <button type="button" class="ql-image">
          <svg viewBox="0 0 18 18">
            <rect class="ql-stroke" height="10" width="12" x="3" y="4"></rect>
            <circle class="ql-fill" cx="6" cy="7" r="1"></circle>
            <polyline class="ql-even ql-fill" points="5 12 5 11 7 9 8 10 11 7 13 9 13 12 5 12"></polyline>
          </svg>
        </button>
        <button type="button" class="ql-code-block">
          <svg viewBox="0 0 18 18">
            <polyline class="ql-even ql-stroke" points="5 7 3 9 5 11"></polyline>
            <polyline class="ql-even ql-stroke" points="13 7 15 9 13 11"></polyline>
            <line class="ql-stroke" x1="10" x2="8" y1="5" y2="13"></line>
          </svg>
        </button>
      </span>
    </div> -->
    <!-- <div id="kt_inbox_form_editor" class="bg-transparent border-0  px-3 ql-container ql-snow">
      <div class="ql-editor ql-blank" placeholder="Type your text here...">
        <textarea class="form-control h-350px" placeholder="Leave a comment here"
          formControlName="compose_body"></textarea>

      </div>
    </div> -->
    <div class="p-5">
      <ckeditor name="ckeditor_text" formControlName="compose_body"
        editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js" [config]="ckEditorConfig"
        (ready)="onCkEditorReady($event)"></ckeditor>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Discard</button>
    <button type="submit" class="btn btn-primary btn-sm">Send</button>
  </div>
</form>