<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Copy Event</h3>

    <!--begin::Close-->
    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" (click)="close()" aria-label="Close">
      <span [inlineSVG]="'./assets/media/svg/close.svg'" class="svg-icon m-0 svg-icon-2"></span>
    </div>
    <!--end::Close-->
  </div>

  <div class="modal-body">
    <div class="d-block align-items-center d-md-flex justify-content-between">
      <div>
        <h4 class="fs-3">Event list</h4>
      </div>

    </div>



    <kendo-grid class="fixed-header" [loading]="loading" [columnMenu]="{ filter: true ,sort : true  }"
      [groupable]="true" [data]="gridView" [group]="state.group" [filter]="state.filter" [filterable]="false"
      [reorderable]="true" [resizable]="true" [skip]="state.skip" [pageSize]="pageSize" [pageable]="{
                        pageSizes:true,
                        info: true
                    }" [sortable]="{
allowUnsort: true,           mode: 'multiple' }" [sort]="state.sort" (dataStateChange)="onStateChange($event)">

      <ng-template kendoGridToolbarTemplate>
        <div class="cs-kend-grid-toolbar d-flex align-items-center justify-content-between">
          <app-filter-view (onFilterAllFieldEmitter)="onFilterAllField($event)"></app-filter-view>
        </div>
      </ng-template>

      <ng-template kendoGridLoadingTemplate>
        <app-wonder-loader></app-wonder-loader>
      </ng-template>
      <!-- Kendo End Default Loader -->

      <kendo-grid-column [filterable]="false" [sortable]="false" [columnMenu]="false" field="sno" title="#"
        [width]="ExtraSmallColumnWidth">
        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">{{ rowIndex + 1
          }}</ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column [headerClass]="headerStyle" title="select" [columnMenu]="false" [width]="80">
        <ng-template kendoGridCellTemplate let-item let-rowIndex="rowIndex">
          <ng-container>
            <div autoClose="'outside'" container="body">

              <div class="form-check form-switch form-check-custom form-check-solid justify-content-center ">
                <input class="form-check-input h-20px w-30px " type="checkbox"
                  (change)="checkBoxSelectedHandler(item,rowIndex)" [(ngModel)]="item.isEnabled"
                  style="border:1px solid #d3d3d3;" />

              </div>
            </div>
          </ng-container>
        </ng-template>
      </kendo-grid-command-column>
      <kendo-grid-column [filterable]="true" [sortable]="false" [columnMenu]="false" [headerClass]="headerStyle"
        field="eventStatus" title="Event Status" [width]="120">
        <ng-template kendoGridCellTemplate let-item>
          <ng-container>
            <span [ngClass]="showBadgeStatusColorClass(item.eventStatus)" class="badge">{{item.eventStatus}}</span>
          </ng-container>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [filterable]="true" [sortable]="false" [columnMenu]="false" [headerClass]="headerStyle"
        field="eventNo" title="Event Number" [width]="140">
      </kendo-grid-column>


      <!-- <kendo-grid-column [headerClass]="headerStyle" field="CREATION_DATE" title="CREATED DATE" [width]="130"></kendo-grid-column> -->
      <!-- <kendo-grid-column [headerClass]="headerStyle" field="ApprovedDate" title="APPROVED DATE" [width]="130"></kendo-grid-column> -->

      <kendo-grid-column [headerClass]="headerStyle" [sortable]="false" [columnMenu]="false" field="eventName"
        title="Event Name" [width]="300">

      </kendo-grid-column>
      <kendo-grid-column [headerClass]="headerStyle" [sortable]="false" [columnMenu]="false" field="eventTypeName"
        title="Event Type" [width]="170">

      </kendo-grid-column>

      <kendo-grid-column [headerClass]="headerStyle" [sortable]="false" [columnMenu]="false" field="cretaedDate"
        format="dd-MMM-yyyy" filter="date" [width]="XtraLargeColumnWidth" title="Created Date">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.cretaedDate | date: 'dd-MMM-yyyy H:mm'}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [headerClass]="headerStyle" [sortable]="false" [columnMenu]="false" field="bidClosingDate"
        format="dd-MMM-yyyy" filter="date" [width]="XtraLargeColumnWidth" title="Bid closing Date">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.bidClosingDate | date: 'dd-MMM-yyyy H:mm'}}
        </ng-template>
      </kendo-grid-column>


      <!-- <kendo-grid-column [headerClass]="headerStyle" field="CREATION_DATE" title="CREATED DATE" [width]="130"></kendo-grid-column> -->
      <!-- <kendo-grid-column [headerClass]="headerStyle" field="ApprovedDate" title="APPROVED DATE" [width]="130"></kendo-grid-column> -->

      <!-- <kendo-grid-column [headerClass]="headerStyle" field="eventName" title="Event Name" [width]="300">

      </kendo-grid-column>
      <kendo-grid-column [headerClass]="headerStyle" field="eventTypeName" title="Event Type" [width]="170">

      </kendo-grid-column>
      

      <kendo-grid-column [headerClass]="headerStyle" field="cretaedDate" format="dd-MMM-yyyy" filter="date"
        [width]="XtraLargeColumnWidth" title="Created Date">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.cretaedDate | date: 'dd-MMM-yyyy H:mm'}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [headerClass]="headerStyle" field="bidClosingDate" format="dd-MMM-yyyy" filter="date"
        [width]="XtraLargeColumnWidth" title="Bid closing Date">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.bidClosingDate | date: 'dd-MMM-yyyy H:mm'}}
        </ng-template>
      </kendo-grid-column> -->

    </kendo-grid>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="close()">Close</button>

  </div>
</div>