
<div class="d-flex justify-content-center svg-height" style="background-image: url(./assets/media/auth/animate-img.svg); background-repeat: no-repeat;
background-size: cover;">


  <!-- <img src="./assets/media/auth/animate-img.svg" alt="logo"  /> -->
  <picture>
    <!-- <source media="(min-width:992px)" src="./assets/media/auth/animate-img.svg" class="position-relative w-100 "> -->
    <!-- <source media="(max-width:556px)" src="./assets/media/auth/animate-img-mob.svg" class="position-relative w-100 "> -->
    <!-- <img src="./assets/media/auth/animate-img.svg" class="position-relative w-100 h-400px h-md-auto"> -->
    </picture>
<div class="text-danger mt-20 ">
  <h2 class="display-5 px-20 text-primary text-center">Welcome to next generation e-Procurement Solution</h2>
  <h3 class="fw-bold display-5 mt-5 text-white text-center">RFQCS</h3>
  <div class="p-5 w-50 w-md-600px fs-2 rounded m-auto bg-white  text-hover-danger mt-5">
    <label class="text-gray-900 text-hover-primary"><em>Please navigate to side menu items to continue your journey.</em></label>
  </div>
</div>
  <!-- Components -->
  <!-- <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <div _ngcontent-dfp-c206="" class="card card-flush">
      <div _ngcontent-dfp-c206="" class="card-header pt-5">
         <h3 _ngcontent-dfp-c206="" class="card-title text-gray-800 fw-bold">Components</h3>
         <div _ngcontent-dfp-c206="" class="card-toolbar"></div>
      </div>
      <div _ngcontent-dfp-c206="" class="card-body pt-5">
         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
            <span class="text-dark fw-semibold fs-6 me-2">Submit, Apply</span>
            <a href="#" class="btn btn-primary btn-sm">Submit</a>
          </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Cancel, reset</span>
          <a href="#" class="btn btn-light btn-sm">Cancel</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Export excel</span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-success btn-sm">Export</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         
        

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Import </span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-blue btn-sm">Import</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Export PDF</span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-danger btn-sm">Export</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Export Doc</span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-blue btn-sm">Export</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Add, Create etc...</span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-blue btn-sm">Add</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Filter</span>
          <a href="#" class="btn btn-secondary btn-sm"><span _ngcontent-wop-c648="" class="svg-icon svg-icon-6 svg-icon-muted me-1"><svg _ngcontent-wop-c648="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-wop-c648="" d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor"></path></svg></span>Filter</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Filter Pill</span>
          <span _ngcontent-ifm-c319="" class="badge badge-light-blue ms-3 px-4 fs-7 rounded-pill min-h33px"> Last 30 days</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Unpublished</span>
          <span _ngcontent-gnp-c654="" class="badge badge-danger" ng-reflect-ng-class="badge-danger">Unpublished</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Pending</span>
          <span _ngcontent-gnp-c654="" class="badge badge-danger" ng-reflect-ng-class="badge-danger">Pending</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">In Process</span>
          <span _ngcontent-gnp-c654="" class="badge badge-warning" ng-reflect-ng-class="badge-danger">In Process</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Approved</span>
          <span _ngcontent-gnp-c654="" class="badge badge-success" ng-reflect-ng-class="badge-danger">Approved</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Closed</span>
          <span _ngcontent-gnp-c654="" class="badge badge-success" ng-reflect-ng-class="badge-danger">Closed</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Secondary Button</span>
          <a href="#" class="btn btn-light btn-sm">Secondary</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Secondary Button</span>
          <a href="#" class="btn btn-light btn-sm">Secondary</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>
         
      </div>
   </div>
  </div>
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <div _ngcontent-dfp-c206="" class="card card-flush">
      <div _ngcontent-dfp-c206="" class="card-header pt-5">
         <h3 _ngcontent-dfp-c206="" class="card-title text-gray-800 fw-bold">Components</h3>
         <div _ngcontent-dfp-c206="" class="card-toolbar"></div>
      </div>
      <div _ngcontent-dfp-c206="" class="card-body pt-5">
         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
            <span class="text-dark fw-semibold fs-6 me-2">Submit, Apply</span>
            <a href="#" class="btn btn-primary btn-sm">Submit</a>
          </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Cancel, reset</span>
          <a href="#" class="btn btn-light btn-sm">Cancel</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Export excel</span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-success btn-sm">Export</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         
        

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Import </span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-blue btn-sm">Import</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Export PDF</span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-danger btn-sm">Export</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Export Doc</span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-blue btn-sm">Export</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <div class="d-block">
            <span class="text-dark fw-semibold fs-6 me-2 d-block">Add, Create etc...</span>
          <span class="text-dark fw-semibold fs-9 me-2 d-block">icon not included here...</span>
          </div>
          <a href="#" class="btn btn-light-blue btn-sm">Add</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Filter</span>
          <a href="#" class="btn btn-secondary btn-sm"><span _ngcontent-wop-c648="" class="svg-icon svg-icon-6 svg-icon-muted me-1"><svg _ngcontent-wop-c648="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-wop-c648="" d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor"></path></svg></span>Filter</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Filter Pill</span>
          <span _ngcontent-ifm-c319="" class="badge badge-light-blue ms-3 px-4 fs-7 rounded-pill min-h33px"> Last 30 days</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Unpublished</span>
          <span _ngcontent-gnp-c654="" class="badge badge-danger" ng-reflect-ng-class="badge-danger">Unpublished</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Pending</span>
          <span _ngcontent-gnp-c654="" class="badge badge-danger" ng-reflect-ng-class="badge-danger">Pending</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">In Process</span>
          <span _ngcontent-gnp-c654="" class="badge badge-warning" ng-reflect-ng-class="badge-danger">In Process</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Approved</span>
          <span _ngcontent-gnp-c654="" class="badge badge-success" ng-reflect-ng-class="badge-danger">Approved</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Closed</span>
          <span _ngcontent-gnp-c654="" class="badge badge-success" ng-reflect-ng-class="badge-danger">Closed</span>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Secondary Button</span>
          <a href="#" class="btn btn-light btn-sm">Secondary</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>

         <div _ngcontent-dfp-c206="" class="d-flex flex-stack">
          <span class="text-dark fw-semibold fs-6 me-2">Secondary Button</span>
          <a href="#" class="btn btn-light btn-sm">Secondary</a>
        </div>

         <div _ngcontent-dfp-c206="" class="separator separator-dashed my-3"></div>
         
      </div>
   </div>
  </div> -->
  <!-- Components -->
</div>

<!-- <div class="d-flex justify-content-center ">


  <img src="./assets/media/auth/City.jpg" alt="logo"  class="position-relative w-100 h-500px h-md-auto"/>
<div class="text-danger mt-20 " style="position: absolute; text-align: center; top: 30; top: 50px;">
  <h2 class="display-5 px-20 welcome-text ">Welcome to next generation e-Procurement Solution</h2>
  <h3 class="fw-bold display-5 mt-5 text-white">RFQCS</h3>
  <div class="p-5 w-50 w-md-600px fs-2 rounded m-auto bg-white bg-hover-light-danger text-hover-danger mt-5">
    <label for="" class="text-gray-900 text-hover-primary"><em>Please navigate to side menu items to continue your journey.</em></label>
  </div>
</div>
</div> -->
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">

    <!--begin::Col-->
    <!-- <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
      <app-cards-widget20 cssClass="h-md-50 mb-5 mb-xl-10" description="Active Projects" color="#F1416C"
        img="./assets/media/patterns/vector-1.png"></app-cards-widget20>
  
      <app-cards-widget7 cssClass="h-md-50 mb-5 mb-xl-10" [icon]="false" [stats]="357" description="Professionals"
        labelColor="dark" textColor="gray-300"></app-cards-widget7>
    </div> -->
    <!--end::Col-->
  
    <!--begin::Col-->
    <!-- <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
      <app-cards-widget17 cssClass="h-md-50 mb-5 mb-xl-10"></app-cards-widget17>
      <app-lists-widget26 class="h-lg-50"></app-lists-widget26>
    </div> -->
    <!--end::Col-->
  
  
    <!--begin::Col-->
    <!-- <app-engage-widget10 class="col-xxl-6" cssClass="h-md-100"></app-engage-widget10> -->
    <!--end::Col-->
  </div>
  <!--end::Row-->
  
  <!--begin::Row-->
  <div class="row gx-5 gx-xl-10">
    <!--begin::Col-->
    <!-- <div class="col-xxl-6 mb-5 mb-xl-10">
      <app-new-charts-widget8 cssClass="h-xl-100" chartHeight="275px" [chartHeightNumber]="275"></app-new-charts-widget8>
    </div> -->
    <!--end::Col-->
  
    <!--begin::Col-->
    <!-- <div class="col-xxl-6 mb-5 mb-xl-10">
      <app-cards-widget18 cssClass="h-xl-100" image="./assets/media/stock/600x600/img-65.jpg"></app-cards-widget18>
    </div> -->
    <!--end::Col-->
  </div>
  <!--end::Row-->
  
  <!-- begin::Row -->
  <!-- <div class="row gy-5 gx-xl-8">
    <div class="col-xxl-4">
      <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3>
    </div>
    <div class="col-xl-8">
      <app-tables-widget10 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget10>
    </div>
  </div> -->
  <!-- end::Row -->
  
  <!-- begin::Row -->
  <!-- <div class="row gy-5 g-xl-8">
    <div class="col-xl-4">
      <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>
    </div>
    <div class="col-xl-4">
      <app-lists-widget6 class="card card-xl-stretch mb-xl-8"></app-lists-widget6>
    </div>
    <div class="col-xl-4">
      <app-lists-widget4 class="card card-xl-stretch mb-5 mb-xl-8"></app-lists-widget4>
    </div>
  </div> -->
  <!-- end::Row -->
<!--   
  <div class="row g-5 gx-xxl-8">
    <div class="col-xxl-4">
      <app-mixed-widget8 class="card card-xxl-stretch mb-xl-3" chartColor="success" chartHeight="150px">
      </app-mixed-widget8>
    </div>
    <div class="col-xxl-8">
      <app-tables-widget5 class="card card-xxl-stretch mb-5 mb-xxl-8"></app-tables-widget5>
    </div>
  </div>
   -->
  <!-- begin:: Modal example -->
  <!-- <app-modal #modal [modalConfig]="modalConfig">
    Modal body html
  </app-modal>
  <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
  <!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
  <!-- end:: Modal example -->
  