<div class="modal-header cursor-pointer" role="button" data-bs-target="#kt_account_profile_details" aria-expanded="true"
  aria-controls="kt_account_profile_details">
  <div class="modal-title m-0">
    <h3 class="fw-bolder m-0">Continue Chat</h3>
  </div>
  <div class="card-title m-0 btn btn-icon btn-sm btn-active-light-primary ms-2">
    <span (click)="closeModel()" [inlineSVG]="'./assets/media/svg/close.svg'" class="svg-icon m-0 svg-icon-2"></span>
  </div>
</div>
<div>
    <textarea class="form-control form-control-flush mb-3" [(ngModel)]="OpenRemark"
    rows="1" data-kt-element="input" placeholder="Remark"></textarea>
</div>
<div class="modal-footer">
  <div class="card-footer mx-5 text-end site-draw-form" id="kt_activities_footer">
    <button type="button" (click)="closeModel()" class="btn me-5 btn-light btn-sm">Cancel</button>
    <button (click)="continue()" class="btn btn-primary btn-sm">
      <span class="indicator-label">Submit</span>
    </button>
  </div>
</div>