<div class="modal-header cursor-pointer " role="button" data-bs-target="#kt_account_profile_details"
    aria-expanded="true" aria-controls="kt_account_profile_details" style="background-color: #fff5f8;">
    <div class="modal-title">
        <div>
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <span class=" justify-content-center fullscreen-back-icon pr-modal-backIcon"
                        [inlineSVG]="'../../../../assets/media/wonder/arrow-left.svg'"></span>
                </div>
                <div class="ms-5">
                  
                     


                            
                                <span class=" fs-3 fw-semibold card-label fw-bold text-gray-800">Bid Optimization</span>
                             
                         
                </div>

            </div>
        </div>

    </div>
    <div class=" m-0">
        <span class="justify-content-center " [inlineSVG]="'../../../../assets/media/wonder/cross.svg'"></span>
    </div>
</div>

<div class="modal-body">
    <div class="d-flex align-items-center">
        <label > Column Heading:</label>
        <input type="text" class="form-control ms-3 form-control-lg w-auto">
    </div>
    <div class="bg-light p-5 my-5">
        No record found
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn-sm me-5">Submit</button>
        <button class="btn btn-light btn-sm">Close</button>

    </div>
</div>