<!--begin::Menu wrapper-->
<div *ngIf="menuList" id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5 menu-desktop" data-kt-scroll="true"
  data-kt-scroll-activate="true" data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div  class="menu menu-column menu-rounded menu-sub-indention px-3"
    id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand= 'false'>
    <!-- Pages -->
    <div *ngFor="let menu of menuList" class="menu-item menu-accordion" data-kt-menu-trigger="click">


      <span class="menu-link " >

        <span *ngIf="menu.filePath" class="menu-icon">
          <span class="svg-icon svg-icon-2" inlineSVG={{menu.filePath}}></span>
        </span>
        <span class="menu-title" data-link="/crafted/account">{{menu.menuName}}</span>
        <span *ngIf="menu?.childmenu" class="menu-arrow"></span>
      </span>
      <div *ngFor="let childMenu of menu?.childmenu"  class="menu-sub menu-sub-accordion"
        routerLinkActive="menu-active-bg" >
        <div *ngIf="childMenu" class="menu-item" >
          <a class="menu-link without-sub"
          [ngClass]="childMenu.menuCode==getActiveLink()? 'active' : ''" routerLinkActive="active"
           (click)="clickOnItem(menu,childMenu)"

           >
            <span *ngIf="childMenu?.filePath" class="menu-icon">
              <!-- <span class="svg-icon svg-icon-2" inlineSVG={{childMenu?.filePath}}></span> -->
              <span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            </span>
            <span class="menu-title">{{childMenu?.menuName}}</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Accounts -->
    <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link"><span class="menu-icon"><span class="svg-icon svg-icon-2"
            [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'"></span></span><span class="menu-title"
          data-link="/crafted/account">Event</span><span class="menu-arrow"></span></span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/overview"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">RFQ / Auction
              List</span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/settings"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">My / All
              Award
              CS</span></a>
        </div>
      </div>
    </div> -->

    <!-- Errors -->
    <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link"><span class="menu-icon"><span class="svg-icon svg-icon-2"
            [inlineSVG]="'./assets/media/icons/duotune/general/gen040.svg'"></span></span><span class="menu-title"
          data-link="/error">Auction</span><span class="menu-arrow"></span></span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/error/404" routerLinkActive="active"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Auction
              Detail</span></a>
        </div>

      </div>
    </div> -->
    <!-- Widgets -->
    <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link"><span class="menu-icon"><span class="svg-icon svg-icon-2"
            [inlineSVG]="'./assets/media/icons/duotune/layouts/lay008.svg'"></span></span><span class="menu-title"
          data-link="/crafted/widgets">CS Approval</span><span class="menu-arrow"></span></span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/widgets/lists"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title">Pending</span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/widgets/statistics"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title">Approve</span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/widgets/charts"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title">Rejected</span></a>
        </div>

      </div>
    </div> -->




    <!--end::Menu-->
  </div>
  </div>
  <!--end::Menu wrapper-->
