.loader-img {
  width: 75px;
  height: 75px;
  margin: 10px auto;
}

.loading-container{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #ededed36;
}
 