.rfq-form-sidebar {
  .btn-select {
    background-color: #c90c0f;
    color: white;
  }
  .heading {
    color: #c90c0f;
    margin-bottom: 20px;
  }
  .form-select {
    box-shadow: none;
  }
}

.hand-pointer {
  cursor: pointer;
}

.mat-error-text {
  color: red;
}

.error-message-div {
  padding: 6px 0px 0px 0px;
}
li {
  cursor: pointer;
}

a {
  cursor: pointer;
}