<div class="mt-3">
    <ul class="list list-inline">
        <li *ngFor="let item of [].constructor(10)" class="card card-custom">
            <div class="card-body card-body-loading animate">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <h6 class="mb-0"></h6>
                        <p class="mb-0"></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>